SEPOLIA_ENTRYPOINT=https://ethereum-sepolia-rpc.publicnode.com
# SEPOLIA_ENTRYPOINT=https://eth-sepolia.g.alchemy.com/v2/l8GcG-x3eivp39kA-kk_A
SMART_CONTRACT=
WALLETS_FILE=
MY_PRIVATE_KEY=
MY_PUBLIC_KEY=
CONTRACT_ADDRESS=