SEPOLIA_ENTRYPOINT=https://ethereum-sepolia-rpc.publicnode.com
SMART_CONTRACT_PATH=../code/contract/contract.sol
WALLETS_FILE=./wallets/wallets.txt
CONTRACT_ADDRESS=to_fill_later
MY_PRIVATE_KEY=
MY_PUBLIC_KEY=