# Base checkers
black==26.5.1
mypy==2.3.1
flake8==7.3.0
pylint==4.0.8
# Project imports
web3==8.0.0
requests==2.34.2
web3[tester]==8.0.0
py-solc-x==2.0.5
dotenv==0.9.9
rich==15.0.0
readchar==4.2.2
pyperclip==1.11.0
types-pyperclip==1.11.0.20260508